<h1>Product Catalogue Updated</h1>
<hr>
<div>
  <%= "Product: " + @product.name %>
</div>
<div>
  <%= "Price: " + @product.price %>
</div>
<div>
  <%= "Product code: " + @product.code %>
</div>
<div>
  <%= "Product description: " + @product.description %>
</div>
